<b><p> Player Name: {{ player_name }} <br></p></b>
<b>Course Name: {{ course_score.course_name }} - {{ course_score.course_city }}, {{ course_score.course_state }}</b>
<table border='1'>
    <tr>
        <th>Date </th>
        <th>Hole 1</th>
        <th>Hole 2</th>
        <th>Hole 3</th>
        <th>Hole 4</th>
        <th>Hole 5</th>
        <th>Hole 6</th>
        <th>Hole 7</th>
        <th>Hole 8</th>
        <th>Hole 9</th>
        <th>Hole 10</th>
        <th>Hole 11</th>
        <th>Hole 12</th>
        <th>Hole 13</th>
        <th>Hole 14</th>
        <th>Hole 15</th>
        <th>Hole 16</th>
        <th>Hole 17</th>
        <th>Hole 18</th>
        <th>TOT</th>
    </tr>
    {% for items in score_list %}
    <tr>
        <td> {{ items.round.created_at }}</td>
        <td> {{ items.hole_1 }} </td>
        <td> {{ items.hole_2 }} </td>
        <td> {{ items.hole_3 }} </td>
        <td> {{ items.hole_4 }} </td>
        <td> {{ items.hole_5 }} </td>
        <td> {{ items.hole_6 }} </td>
        <td> {{ items.hole_7 }} </td>
        <td> {{ items.hole_8 }} </td>
        <td> {{ items.hole_9 }} </td>
        <td> {{ items.hole_10 }} </td>
        <td> {{ items.hole_11 }} </td>
        <td> {{ items.hole_12 }} </td>
        <td> {{ items.hole_13 }} </td>
        <td> {{ items.hole_14 }} </td>
        <td> {{ items.hole_15 }} </td>
        <td> {{ items.hole_16 }} </td>
        <td> {{ items.hole_17 }} </td>
        <td> {{ items.hole_18 }} </td>
        <td> {{ items.round_tot }} </td>
    </tr>
    {% endfor %}
    <tr>
        <td> </td>
        <td> {{ course_score.hole_1 }} </td>
        <td> {{ course_score.hole_2 }} </td>
        <td> {{ course_score.hole_3 }} </td>
        <td> {{ course_score.hole_4 }} </td>
        <td> {{ course_score.hole_5 }} </td>
        <td> {{ course_score.hole_6 }} </td>
        <td> {{ course_score.hole_7 }} </td>
        <td> {{ course_score.hole_8 }} </td>
        <td> {{ course_score.hole_9 }} </td>
        <td> {{ course_score.hole_10 }} </td>
        <td> {{ course_score.hole_11 }} </td>
        <td> {{ course_score.hole_12 }} </td>
        <td> {{ course_score.hole_13 }} </td>
        <td> {{ course_score.hole_14 }} </td>
        <td> {{ course_score.hole_15 }} </td>
        <td> {{ course_score.hole_16 }} </td>
        <td> {{ course_score.hole_17 }} </td>
        <td> {{ course_score.hole_18 }} </td>
        <td> {{ course_score.par_total }} </td>
        <td><b> PAR </b></td>
    </tr>
</table>